*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  line-height: 1.15;
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h4, h5, h6 {
  color: #252525;
  font-weight: 400;
}

a {
  color: #252525;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

button.product-button {
  background-color: #222;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  outline: none;
  cursor: pointer;
  height: 36px;
}

/*   width: 10%; */

button:active {
  transform: scale(1.01);
}