.Cart-Item-Photo {
  width: 100px;
  height: 100px;
  padding: 1rem;
}

.Quantity-Button {
  border: none;
  border-radius: 5px;
  margin: .3rem;
  height: 30px;
  width: 30px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  transition: ease .5s all;
}


@media(max-width: 450px) {
  .Quantity-Button {
    height: 20px;
    width: 20px;
    margin: 0;
  }
}


@media(max-width: 350px) {
  .Cart-Item-Photo {
    width: 60px;
    height: 60px;
  }
}